<h1>Players#index</h1>
<p>Find me in app/views/players/index.html.erb</p>
<% @players.each do |player| -%>
        <%= player.firstname %> <%= player.lastname %>
    	<%= image_tag player.avatar.url %>
<% end -%>
