<h1>Players#index</h1>
<p>Find me in app/views/players/index.html.erb</p>
<% @players.each do |player| -%>
	<div class="col-md-3" style="border: 1px solid #eeeeee">
		<div class="text-center">
			<% if (player.firstname || player.lastname) %>
			    <%= link_to player.firstname + ' ' + player.firstname, player %>
			<% else %>
				<%= link_to 'Unknown Talent', player %>
			<% end %>
		</div>
		<div class="text-center">
	    	<%= image_tag player.avatar.url, size: "160"%>		
		</div>
	</div>
<% end -%>
