<div>
	<% if (@player.firstname || @player.lastname) %>
	    <%= @player.firstname %> <%= @player.lastname %>
	<% else %>
		Unknown Talent
	<% end %>
</div>
<div>
	<%= image_tag @player.avatar.url %>
</div>